{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<BODY class=body3>
 <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>{{t}}</td>
            </tr>
        </tfoot>
        <tbody>
            {% for i in range(length) %}
                <tr>
                    <td>{{symbols[i]}}</td>
                    <td>{{names[i]}}</td>
                    <td>{{shares[i]}}</td></td>
                    <td>{{prices[i]}}</td>
                    <td>{{totals[i]}}</td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4">CASH</td>
                <td>{{cash}}</td>
            </tr>
        </tbody>
    </table>
    </BODY>
{% endblock %}